<footer class="center">
  <div class="measure">
    <small class='social'>
      <a href="https://github.com/{{ site.github_username }}">
        <i class="fab fa-github"></i>
        {{ site.github_username }}
      </a>

      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
        <i class="fab fa-linkedin"></i>
        {{ site.linkedin_username }}
      </a>
      <a href="{{ "/feed.xml" | relative_url }}">
        <i class="fas fa-rss"></i>
        Subscribe
      </a>
    </small>
  </div>
</footer>
